extends layout

block content
  .container.mt-5
    .card.shadow-sm
      .card-header.bg-primary.text-white
        h3.mb-0 Artifact Detail
      .card-body
        if !toShow
          .alert.alert-danger No artifact found with this ID.
        else
          ul.list-group
            li.list-group-item
              strong ID: 
              | #{toShow._id}
            li.list-group-item
              strong Name: 
              | #{toShow.name}
            li.list-group-item
              strong Age: 
              | #{toShow.age}
            li.list-group-item
              strong Origin: 
              | #{toShow.origin}
    a.btn.btn-secondary.mt-3(href='/artifacts') ← Back to List
