extends layout

block content
  h1= title

  form(id='ArtifactForm', action="/artifacts", method="POST")
    div.form-group
      label(for='name') Name
      input#name.form-control(type='text', name='name')
    div.form-group
      label(for='age') Age
      input#age.form-control(type='number', name='age')
    div.form-group
      label(for='origin') Origin
      input#origin.form-control(type='text', name='origin')
    button.btn.btn-primary(type="submit") Create

  script.
    document.forms['ArtifactForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)),
        headers: {
          'Accept': 'application/json'
        }
      })
      .then(async (resp) => {
        if (!resp.ok) {
          const text = await resp.text();
          throw new Error("The server responded with an error: " + text);
        }
        return resp.json();
      })
      .then((body) => {
        alert("✅ Artifact was successfully saved!");
        window.location.href = "/artifacts";
      })
      .catch((error) => {
        alert("❌ Failed to save the artifact. Error: " + error.message);
      });
    });
