extends layout

block content
  if (!user)
    a.btn.btn-primary(href='/login') Login
    a.btn.btn-success(href='/register') Register
  else
    p You are logged in as #{user.username}
    a.btn.btn-info(href='/artifacts') Go to Artifacts
    a.btn.btn-danger(href='/logout') Logout
