extends layout

block content
  h1= title
  form(action="/items" method="POST")
    div
      label(for="name") Name:
      input(type="text", name="name", required)
    div
      label(for="quantity") Quantity:
      input(type="number", name="quantity", required)
    div
      button(type="submit") Add Item
