extends layout

block content
  .container.mt-5
    h1.text-center.mb-4 Login

    form(action="/login", method="POST")
      .form-group.mb-3
        label(for="username") Username
        input.form-control(type="text", name="username", id="username", placeholder="Enter username", required)

      .form-group.mb-3
        label(for="password") Password
        input.form-control(type="password", name="password", id="password", placeholder="Enter password", required)

      button.btn.btn-primary(type="submit") Login
